<%- include('../includes/head.ejs') %>
<%- include('../includes/navbar.ejs') %>
<h1>Product Detail Page</h1>
<%= product.id %>
<%= product.title %>
<%= product.price %>
<%= product.description %>
<%= product.imageUrl %>
<%- include('../includes/end.ejs') %>